*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.borderBot {
  border-bottom: 1px #D6D6D6 solid;
}

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  height: 40px;
  width: auto;
  margin-inline: 1rem;
}
.header__cta {
  padding: 0.5rem;
  color: #007782;
  background: transparent;
  border: #007782 1px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  padding-inline: 1rem;
  margin-inline: 1rem;
}
.header__ctai {
  padding: 0.5rem;
  color: #FEFEFE;
  background: #007782;
  border: #007782 1px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
}
.header__linkGroup {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__info {
  text-decoration: none;
  height: 50%;
  margin-inline: 1rem;
  font-size: 1.5rem;
  color: #757575;
}

.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  color: #D6D6D6;
  width: 120%;
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
}

.search-input {
  height: 40px;
  width: 80%;
  padding: 10px;
  background: #ededed;
  border-radius: 0 3px 3px 0;
  border: none;
  color: #202020;
  outline: none;
  font-size: 0.8rem;
}

.search-button {
  text-align: center;
  height: 40px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  background: #ededed;
}
.search-button i {
  color: #757575;
  font-size: 0.8rem;
}

.search-defilant {
  color: #757575;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 3px 0 0 3px;
  border: none;
  border-right: 1px solid #D6D6D6;
  background: #ededed;
  outline: none;
}

.categories {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.categories__link {
  text-decoration: none;
  color: #757575;
  font-size: 0.9rem;
  margin-inline: 0.5rem;
  font-weight: lighter;
}

.hero {
  position: relative;
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
  font-weight: lighter;
  height: 100%;
}
.hero__img {
  width: 100%;
  object-fit: contain;
}
.hero__box {
  display: flex;
  position: absolute;
  background: #FEFEFE;
  border-radius: 5px;
  width: 350px;
  margin-top: 10%;
}
.hero__elmts {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.hero__elmts > h2, .hero__elmts a {
  margin-block: 0.5rem;
}
.hero__elmts a:not(.hero__cta) {
  color: #007782;
}
.hero__cta {
  padding: 1rem;
  color: #FEFEFE;
  background: #007782;
  border: #007782 1px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.popular {
  margin-block: 1rem;
}
.popular__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
}
.popular__a {
  color: #007782;
  text-decoration: none;
}
.popular__products {
  display: flex;
  flex-direction: row;
}
.popular__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007782;
  background: #efefef;
  border: none;
  transition: 0.1s;
  border-radius: 5px;
  text-decoration: none;
}
.popular__btn:hover {
  background: #D6D6D6;
  color: #007782;
}
.popular__btnp {
  display: flex;
  justify-content: center;
}

.product {
  width: 200px;
  margin-right: 1rem;
}
.product__img {
  height: 320px;
  width: 200px;
  object-fit: cover;
  background: black;
}
.product__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
